<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503666408165-0d1ksjho7von3s8v72sk3k3rinr473oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503666408165-0d1ksjho7von3s8v72sk3k3rinr473oq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>503666408165-pojmtngemr5glsrvos451jn14k2vfoo3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoDyDVlwCH-QXtBP_rw75e7Gzba5muQqk</string>
	<key>GCM_SENDER_ID</key>
	<string>503666408165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blwahdaa</string>
	<key>PROJECT_ID</key>
	<string>blwahda-6a522</string>
	<key>STORAGE_BUCKET</key>
	<string>blwahda-6a522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503666408165:ios:f73f10ce8661d455c0b20c</string>
	<key>DATABASE_URL</key>
	<string>https://blwahda-6a522.firebaseio.com</string>
</dict>
</plist>